<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">
    <test name="WebTests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="MobileTests">
        <classes>
            <class name="tests.MobileLoginTest"/>
        </classes>
    </test>
</suite>
